@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Text Balance */
  .text-balance {
    text-align: justify;
    text-justify: inter-word;
  }

  /* Hide Scrollbar */
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Loader */
  .loader {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .loader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 80%;
    animation: loader 0.8s infinite alternate;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .loader span:nth-of-type(2) {
    animation-delay: 0.3s;
  }

  .loader span:nth-of-type(3) {
    animation-delay: 0.6s;
  }

  @keyframes loader {
    0% {
      opacity: 1;
      transform: scale(0.8);
    }
    100% {
      opacity: 0.5;
      transform: scale(1.2);
    }
  }

  /* Gradient Background */
  .gradient-bg {
    background: linear-gradient(
      to right,
      #07168b,
      #27f2f2 
    );
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

body {
  margin: 0px !important;
  font-family: 'Inter', sans-serif;
  color: #333;
  transition: all 0.3s ease;
  @apply gradient-bg;
}